@use '../abstracts/' as *;


.hero{
 max-width:55.6875rem;
 margin-left:11%; //11.25rem;//6.25rem;
 margin-top: 9rem;//11.25rem; 
 margin-bottom: 7rem;

 @media(max-width:768px){
  margin-inline: 0.8rem;
 }
}

.hero__btn{
  display: flex;
  justify-content: center;
  padding-top: 4rem;
}

.about{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  gap:4rem;
  padding-inline: .8rem;
}
.about__card{
  //padding-left: 1rem;
  //padding-right: 1rem;
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 39.0625rem;
}
.about__card >h3{
  text-align: left;
}
.about__title{
margin-top: 8.12rem;
//width: 32.25rem;

}
.about__description{
 //color: $secondary-color;
 color: $third-color;
 margin-top: 1.3rem;
 font-size: 1.125rem;
 font-weight: 400;
 line-height: 154.5%;
 letter-spacing: 0.06188rem;
 //width: 39.0625rem;
}
.about-img{
  width: 28.375rem;
  margin-top:4.38rem;
  //height: 31.625rem;
  //background: pink;
  //border-radius: 8px;
  position: relative;
  
  & img{
    border-radius: 8px;
  }
}



.shine{
position:absolute;
width: 32.32138rem;
transform: rotate(-178.318deg);
flex-shrink: 0;
}
.shine__fill{
  fill: rgba(255, 255, 255, 0.18);
filter: blur(100px);
}

.shine__height{
  height: 21.95869rem;
}
.shine__height_2{
  height: 17.06431rem;
  display: flex;
  margin-left: 400px;
}

.rectangulo{
  border: 1px solid $primary-color;
  border-radius: 1.875rem;
}
.rectangulo--position-vertical{
  position: absolute;
  bottom:50px;
  left: -30px;
  width: 3.4375rem;
  height: 11.125rem;
}
.rectangulo--position-horizontal{
  position: absolute;
  top:-18px;
  right: 0px;
  width: 6.875rem;
  height: 2.125rem;
}
.stack{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 144px;
}
.stack_container{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
margin-top: 5.625rem;
padding: 30px 40px;
max-width: 60%;//80
gap:20px; //50

@media (max-width:425px){
  max-width: 90%;//80
}

}
.stack_container > img{
  margin: 10px 12px;
  width: 80px !important; //100

@media (max-width:425px){
  width: 50px !important;
}
}

.footer__head{
  color: $primary-color;
  margin-top:50px;
  margin-bottom: 1.4rem;
}

.footer__anker{
 font-size: clamp(2.5rem, 5vw, 4rem);
 font-family: $font-family-titles;
 
 & span{
  text-decoration: underline;
 }
 

}
.footer__nav{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-block: 4rem;
  width: 90vw;
  border-bottom: $secondary-color 2px solid;
  padding-bottom: 1.5rem;
}

.footer__copyright{
  font-size: 0.7rem;
  color: $secondary-color;
  line-height: 40px;
}
.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  //gap: 1rem;
  margin-block: 4.5rem;
 // margin-inline: 125px;
   width: 100%;
}
.card{
  width: 35rem;
  height: 48rem;
  display: flex;
  flex-direction: column;
  gap:2em;
  justify-content: center;
  align-items: flex-start;
  border-radius: 8px;
  margin-block: 3rem; 
  
}
.card__img{
  height: 38.75rem;
  width: 35rem;
}
.card__img >img{
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.card__content{
  display: flex;
  flex-direction: column;
  align-self: stretch;
  gap:1rem;
  padding-left: .5rem;  
}
.card__details{
  font-size: 1.125rem;
  display: flex;
  flex-direction: column;
  gap:1rem;
}