@use './abstracts/' as *;
@use './components/' as c;

body{
  background-color: $bg-color;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
nav{
  margin-top: 2.06rem;
  display: flex;
  margin-inline: 6.25rem;
}
footer{
  background-color: #131313;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  margin-top: auto; /* Empuja el footer hacia la parte inferior */
  padding-top: 2rem; /* Agrega un espacio superior */
}
 hr{
  height: 2px;
  border:none;
  background-color: $primary-color;
 }
 
 .myhero{
  position: relative;
  width: 100vw;
  height: auto;
  overflow: hidden;

 
 }

 .myhero img {
  width: 100%;
  height: auto;
}

.hero-container {
  position: relative;
}

.hero-container img {
  width: 100vw;
  height: auto;
  display: block;
}

.main-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  //max-width: 1440px;
 //padding: 0.6rem;
  z-index: 1; /* Coloca el main-container encima de la imagen */
}
